.container {
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.main {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 30px;
    margin-top: 30%;
}
.output_en {
    margin-bottom: 10px;
    font-size: 22px;
}
.main__btn {
    padding: 5px;
    cursor: pointer;
}
.input-text {
  border: none;
  font-size: 16px;
  background-color: rgb(243, 255, 190);
  outline: none;
  display: inline;
}
.hidden {
  visibility: hidden;
}